<form method="post" action="/inventory">
	<h3>Item title:  <input type="text" name="name" required="required"></h3>
	<h3>Quantity: <input type="number" name="quantity" min="1" max="100"></h3>
	<h3>Cost: $<input type="number" name="cost" min="0" max="3000"></h3>
	<input type="submit" value="Add Item">
</form>